{
  "openapi": "3.1.0",
  "info": {
    "title": "Astrology API v3",
    "description": "\n# 🌟 Astrology API v3.2.10 - Professional Astrological Service\n\n**Modern astrological calculations powered by Swiss Ephemeris with comprehensive interpretations and analysis tools.**\n\n## 🔑 **Get Your API Key First!**\n**👉 [Grab your API key at the Developer Dashboard](https://dashboard.astrology-api.io/)** - you'll need it to make requests (it's quick and easy!)\n\n## 🚀 **Core Features**\n- **High-precision calculations** - Swiss Ephemeris accuracy with 23 house systems\n- **Traditional astrology** - Hellenistic techniques, dignities, profections, lots\n- **Comprehensive reports** - Natal charts, synastry, transits with detailed interpretations\n- **Business insights** - Team dynamics, compatibility analysis, career guidance\n- **Pet astrology** - Animal personality and care insights\n- **Multiple languages** - Support for EN, RU, FR, DE, ES and more\n- **Fast performance** - 50-500ms response times with intelligent caching\n\n## 📱 **Perfect for**\nProfessional astrologers, mobile apps, educational platforms, research projects, and business consulting tools.\n\n## 📚 **Documentation**\n- **[🚀 RapiDoc](/rapidoc)** - Interactive documentation with live examples\n- **[📥 Postman Collection](/best-astrology-api-postman.json)** - 113 ready-to-use examples\n- **[❓ FAQ & Help](/docs/faq)** - Troubleshooting and implementation guides\n\n**🌟 Quick start: `/api/v3/glossary/active-points`**\n    ",
    "version": "3.2.10"
  },
  "servers": [
    {
      "url": "https://api.astrology-api.io",
      "description": "Production API"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local development"
    }
  ],
  "paths": {
    "/api/v3/data/now": {
      "get": {
        "tags": [
          "📊 Raw Data & Positions"
        ],
        "summary": "Current Time Data",
        "description": "Gets astrological data for the current UTC time.",
        "operationId": "get_now_api_v3_data_now_get",
        "responses": {
          "200": {
            "description": "Current UTC time data for immediate astrological calculations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subject-Output"
                },
                "example": {
                  "name": "Current UTC Time",
                  "birth_data": {
                    "year": 2024,
                    "month": 9,
                    "day": 1,
                    "hour": 14,
                    "minute": 30,
                    "second": 0,
                    "latitude": 0.0,
                    "longitude": 0.0,
                    "timezone": "UTC"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input parameters"
          },
          "422": {
            "description": "Validation error - check field formats"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/data/positions": {
      "post": {
        "tags": [
          "📊 Raw Data & Positions"
        ],
        "summary": "Planetary Positions",
        "description": "📊 **Planetary Positions Calculator** - Get precise celestial body positions\n\n**Perfect for:**\n- 🎯 Quick planetary position lookups\n- 📱 Mobile app backends requiring fast data\n- 🔄 Real-time astrological applications\n- 📊 Data analysis and research\n\n**What you get:**\n- **Precise positions** for all requested celestial bodies\n- **Zodiac signs** (3-letter codes: Ari, Tau, Gem, etc.)\n- **Degrees within signs** (0.0 to 29.99)\n- **Absolute longitude** (0-360° full zodiac position)\n- **Retrograde status** for all planets\n- **Planetary speed** (degrees per day)\n\n**Supported celestial bodies:**\n- **Planets**: Sun, Moon, Mercury, Venus, Mars, Jupiter, Saturn, Uranus, Neptune, Pluto\n- **Lunar Nodes**: Mean_Node, True_Node, Mean_South_Node, True_South_Node\n- **Angles**: Ascendant, Medium_Coeli, Descendant, Imum_Coeli\n- **Points**: Mean_Lilith, True_Lilith, Pars_Fortunae, Vertex\n- **Asteroids**: Chiron, Ceres, Pallas, Juno, Vesta\n\n**💡 Tip:** By default only traditional planets (Sun–Saturn) + Ascendant + MC are returned. To include Uranus, Neptune, Pluto, nodes, asteroids, or other points, list them explicitly in `options.active_points`. Full list: `GET /api/v3/glossary/active-points`.\n\n**Location handling:**\n- Provide city + country_code for automatic geocoding\n- Or use exact latitude/longitude coordinates\n- Timezone automatically detected or specify manually\n\n**Response time:** ~100ms | **Accuracy:** Swiss Ephemeris precision\n- ✅ **City geocoding** - just provide city name, we handle coordinates & timezone\n\nPerfect for applications needing precise astronomical data without interpretations.\n\n**New feature:**\n- 🆕 `filter_retrograde_only`: When true, returns only planets currently in retrograde",
        "operationId": "planetary_positions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequest"
              },
              "examples": {
                "basic_positions": {
                  "summary": "Basic Planetary Positions",
                  "description": "Standard planetary positions with main planets and moderate precision",
                  "value": {
                    "subject": {
                      "name": "Emma Johnson",
                      "birth_data": {
                        "year": 1990,
                        "month": 5,
                        "day": 15,
                        "hour": 14,
                        "minute": 30,
                        "second": 0,
                        "city": "London",
                        "country_code": "GB"
                      }
                    },
                    "options": {
                      "house_system": "P",
                      "language": "en",
                      "tradition": "universal",
                      "detail_level": "standard",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn"
                      ],
                      "precision": 2
                    }
                  }
                },
                "extended_precision": {
                  "summary": "High Precision Extended Points",
                  "description": "All planets, asteroids, and special points with maximum precision",
                  "value": {
                    "subject": {
                      "name": "Precision Seeker",
                      "birth_data": {
                        "year": 1985,
                        "month": 8,
                        "day": 22,
                        "hour": 18,
                        "minute": 45,
                        "second": 30,
                        "latitude": 48.8566,
                        "longitude": 2.3522
                      }
                    },
                    "options": {
                      "house_system": "W",
                      "language": "en",
                      "tradition": "universal",
                      "detail_level": "full",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn",
                        "Uranus",
                        "Neptune",
                        "Pluto",
                        "Chiron",
                        "Ceres",
                        "Pallas",
                        "Juno",
                        "Vesta",
                        "Mean_Node",
                        "True_Node",
                        "Mean_Lilith",
                        "True_Lilith",
                        "Ascendant",
                        "Medium_Coeli"
                      ],
                      "precision": 6
                    }
                  }
                },
                "traditional_points": {
                  "summary": "Traditional Astrology Points",
                  "description": "Focus on traditional points including Arabic Parts and nodes",
                  "value": {
                    "subject": {
                      "name": "Traditional Astrologer",
                      "birth_data": {
                        "year": 1992,
                        "month": 11,
                        "day": 8,
                        "hour": 9,
                        "minute": 15,
                        "second": 0,
                        "city": "Athens",
                        "country_code": "GR"
                      }
                    },
                    "options": {
                      "house_system": "W",
                      "language": "en",
                      "tradition": "classical",
                      "detail_level": "full",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn",
                        "Mean_Node",
                        "True_Node",
                        "Mean_South_Node",
                        "True_South_Node",
                        "Part_of_Fortune",
                        "Part_of_Spirit",
                        "Ascendant",
                        "Medium_Coeli",
                        "Vertex"
                      ],
                      "precision": 4
                    }
                  }
                },
                "sidereal_calculation": {
                  "summary": "Sidereal Zodiac Positions",
                  "description": "Vedic/Sidereal zodiac calculation with traditional points",
                  "value": {
                    "subject": {
                      "name": "Vedic Practitioner",
                      "birth_data": {
                        "year": 1988,
                        "month": 3,
                        "day": 25,
                        "hour": 12,
                        "minute": 0,
                        "second": 0,
                        "city": "Varanasi",
                        "country_code": "IN"
                      }
                    },
                    "options": {
                      "house_system": "A",
                      "language": "en",
                      "tradition": "vedic",
                      "detail_level": "standard",
                      "zodiac_type": "Sidereal",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn",
                        "Mean_Node",
                        "True_Node"
                      ],
                      "precision": 3
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Precise planetary positions with coordinates, houses, and motion data",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "comprehensive_positions": {
                    "summary": "Complete planetary positions with all data",
                    "description": "Example showing precise positions for main planets with retrograde motion, house placements, and speed calculations",
                    "value": {
                      "positions": [
                        {
                          "name": "Sun",
                          "sign": "Tau",
                          "degree": 20.8231,
                          "absolute_longitude": 50.8231,
                          "house": 8,
                          "is_retrograde": false,
                          "speed": 0.9657
                        },
                        {
                          "name": "Moon",
                          "sign": "Aqu",
                          "degree": 19.2119,
                          "absolute_longitude": 319.2119,
                          "house": 4,
                          "is_retrograde": false,
                          "speed": 12.6633
                        },
                        {
                          "name": "Mercury",
                          "sign": "Ari",
                          "degree": 26.3845,
                          "absolute_longitude": 26.3845,
                          "house": 7,
                          "is_retrograde": false,
                          "speed": 1.4017
                        },
                        {
                          "name": "Venus",
                          "sign": "Ari",
                          "degree": 10.7354,
                          "absolute_longitude": 10.7354,
                          "house": 6,
                          "is_retrograde": false,
                          "speed": 0.5265
                        },
                        {
                          "name": "Mars",
                          "sign": "Gem",
                          "degree": 10.4993,
                          "absolute_longitude": 70.4993,
                          "house": 8,
                          "is_retrograde": false,
                          "speed": 0.6851
                        },
                        {
                          "name": "Jupiter",
                          "sign": "Aqu",
                          "degree": 16.0419,
                          "absolute_longitude": 316.0419,
                          "house": 4,
                          "is_retrograde": false,
                          "speed": 0.0746
                        },
                        {
                          "name": "Saturn",
                          "sign": "Sco",
                          "degree": 25.1425,
                          "absolute_longitude": 235.1425,
                          "house": 2,
                          "is_retrograde": true,
                          "speed": -0.0746
                        }
                      ]
                    }
                  },
                  "angles_and_nodes": {
                    "summary": "Chart angles and lunar nodes",
                    "description": "Example showing Ascendant, Midheaven, and North/South Node positions",
                    "value": {
                      "positions": [
                        {
                          "name": "Ascendant",
                          "sign": "Lib",
                          "degree": 21.0032,
                          "absolute_longitude": 201.0032,
                          "house": 1,
                          "is_retrograde": false
                        },
                        {
                          "name": "Medium_Coeli",
                          "sign": "Can",
                          "degree": 27.2303,
                          "absolute_longitude": 117.2303,
                          "house": 10,
                          "is_retrograde": false
                        },
                        {
                          "name": "Mean_Node",
                          "sign": "Ari",
                          "degree": 18.2327,
                          "absolute_longitude": 18.2327,
                          "house": 7,
                          "is_retrograde": true,
                          "speed": -0.053
                        },
                        {
                          "name": "Mean_South_Node",
                          "sign": "Lib",
                          "degree": 18.2327,
                          "absolute_longitude": 198.2327,
                          "house": 1,
                          "is_retrograde": true,
                          "speed": 0.053
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input parameters"
          },
          "422": {
            "description": "Validation error - check field formats"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/data/house-cusps": {
      "post": {
        "tags": [
          "📊 Raw Data & Positions"
        ],
        "summary": "House Cusps",
        "description": "🏠 **House Cusps Calculator** - Precise astrological house boundaries\n\n**Perfect for:**\n- 🎯 House system comparisons and analysis\n- 📱 Chart calculation backends\n- 🔄 Real-time house position tracking\n- 📊 Astrological research and education\n\n**What you get:**\n- **All 12 house cusps** with precise degree positions\n- **Zodiac signs** for each house cusp (3-letter codes: Ari, Tau, Gem, etc.)\n- **Degrees within signs** (0.0 to 29.99)\n- **Absolute longitude** (0-360° full zodiac position)\n- **House system flexibility** - 23+ systems supported\n\n**Supported house systems:**\n- **P** (Placidus) - Most popular modern system\n- **W** (Whole Sign) - Traditional/Hellenistic system\n- **K** (Koch), **E** (Equal), **C** (Campanus)\n- Plus 18 additional systems - see `/api/v3/glossary/house-systems`\n\n**Location handling:**\n- Provide city + country_code for automatic geocoding\n- Or use exact latitude/longitude coordinates\n- Timezone automatically detected or specify manually\n\n**Note:** House cusps are location-dependent and require precise birth coordinates.\nThis endpoint provides the foundation for accurate house-based interpretations.\n\n**Response time:** ~120ms | **Accuracy:** Swiss Ephemeris precision",
        "operationId": "get_house_cusps_api_v3_data_house_cusps_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequest"
              },
              "examples": {
                "placidus_system": {
                  "summary": "Placidus House System",
                  "description": "Most popular modern house system with unequal houses",
                  "value": {
                    "subject": {
                      "name": "House Explorer",
                      "birth_data": {
                        "year": 1990,
                        "month": 5,
                        "day": 15,
                        "hour": 14,
                        "minute": 30,
                        "second": 0,
                        "city": "London",
                        "country_code": "GB"
                      }
                    },
                    "options": {
                      "house_system": "P",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn"
                      ],
                      "precision": 4
                    }
                  }
                },
                "whole_sign_traditional": {
                  "summary": "Whole Sign Houses",
                  "description": "Traditional Hellenistic system with equal 30° houses",
                  "value": {
                    "subject": {
                      "name": "Traditional Scholar",
                      "birth_data": {
                        "year": 1985,
                        "month": 8,
                        "day": 22,
                        "hour": 18,
                        "minute": 45,
                        "second": 0,
                        "city": "Athens",
                        "country_code": "GR"
                      }
                    },
                    "options": {
                      "house_system": "W",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Ascendant",
                        "Medium_Coeli",
                        "Descendant",
                        "Imum_Coeli"
                      ],
                      "precision": 2
                    }
                  }
                },
                "koch_system": {
                  "summary": "Koch House System",
                  "description": "Popular European house system with time-based calculations",
                  "value": {
                    "subject": {
                      "name": "European Astrologer",
                      "birth_data": {
                        "year": 1992,
                        "month": 11,
                        "day": 8,
                        "hour": 9,
                        "minute": 15,
                        "second": 0,
                        "latitude": 48.8566,
                        "longitude": 2.3522
                      }
                    },
                    "options": {
                      "house_system": "K",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Ascendant",
                        "Medium_Coeli"
                      ],
                      "precision": 3
                    }
                  }
                },
                "equal_houses": {
                  "summary": "Equal House System",
                  "description": "Simple system with equal 30° houses from Ascendant",
                  "value": {
                    "subject": {
                      "name": "Equal House User",
                      "birth_data": {
                        "year": 1988,
                        "month": 3,
                        "day": 25,
                        "hour": 12,
                        "minute": 0,
                        "second": 0,
                        "city": "Mumbai",
                        "country_code": "IN"
                      }
                    },
                    "options": {
                      "house_system": "A",
                      "zodiac_type": "Sidereal",
                      "active_points": [
                        "Ascendant",
                        "Medium_Coeli"
                      ],
                      "precision": 2
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Precise astrological house boundaries with zodiac signs and degrees",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "placidus_system_cusps": {
                    "summary": "Placidus house system cusps",
                    "description": "Complete set of 12 house cusps using Placidus system with precise degrees",
                    "value": {
                      "cusps": [
                        {
                          "house": 1,
                          "sign": "Lib",
                          "degree": 21.0032
                        },
                        {
                          "house": 2,
                          "sign": "Sco",
                          "degree": 17.467
                        },
                        {
                          "house": 3,
                          "sign": "Sag",
                          "degree": 20.0036
                        },
                        {
                          "house": 4,
                          "sign": "Cap",
                          "degree": 27.2303
                        },
                        {
                          "house": 5,
                          "sign": "Pis",
                          "degree": 1.6879
                        },
                        {
                          "house": 6,
                          "sign": "Pis",
                          "degree": 29.4227
                        },
                        {
                          "house": 7,
                          "sign": "Ari",
                          "degree": 21.0032
                        },
                        {
                          "house": 8,
                          "sign": "Tau",
                          "degree": 17.467
                        },
                        {
                          "house": 9,
                          "sign": "Gem",
                          "degree": 20.0036
                        },
                        {
                          "house": 10,
                          "sign": "Can",
                          "degree": 27.2303
                        },
                        {
                          "house": 11,
                          "sign": "Vir",
                          "degree": 1.6879
                        },
                        {
                          "house": 12,
                          "sign": "Vir",
                          "degree": 29.4227
                        }
                      ]
                    }
                  },
                  "whole_sign_cusps": {
                    "summary": "Whole sign house system cusps",
                    "description": "Traditional whole sign houses where each house equals one complete zodiac sign",
                    "value": {
                      "cusps": [
                        {
                          "house": 1,
                          "sign": "Lib",
                          "degree": 0.0
                        },
                        {
                          "house": 2,
                          "sign": "Sco",
                          "degree": 0.0
                        },
                        {
                          "house": 3,
                          "sign": "Sag",
                          "degree": 0.0
                        },
                        {
                          "house": 4,
                          "sign": "Cap",
                          "degree": 0.0
                        },
                        {
                          "house": 5,
                          "sign": "Aqu",
                          "degree": 0.0
                        },
                        {
                          "house": 6,
                          "sign": "Pis",
                          "degree": 0.0
                        },
                        {
                          "house": 7,
                          "sign": "Ari",
                          "degree": 0.0
                        },
                        {
                          "house": 8,
                          "sign": "Tau",
                          "degree": 0.0
                        },
                        {
                          "house": 9,
                          "sign": "Gem",
                          "degree": 0.0
                        },
                        {
                          "house": 10,
                          "sign": "Can",
                          "degree": 0.0
                        },
                        {
                          "house": 11,
                          "sign": "Leo",
                          "degree": 0.0
                        },
                        {
                          "house": 12,
                          "sign": "Vir",
                          "degree": 0.0
                        }
                      ]
                    }
                  },
                  "intercepted_houses": {
                    "summary": "Houses with interceptions",
                    "description": "Example showing houses with intercepted signs (signs contained entirely within a house)",
                    "value": {
                      "cusps": [
                        {
                          "house": 1,
                          "sign": "Sag",
                          "degree": 15.2341
                        },
                        {
                          "house": 2,
                          "sign": "Aqu",
                          "degree": 8.7892
                        },
                        {
                          "house": 3,
                          "sign": "Pis",
                          "degree": 22.5567
                        },
                        {
                          "house": 4,
                          "sign": "Ari",
                          "degree": 29.1234
                        },
                        {
                          "house": 5,
                          "sign": "Tau",
                          "degree": 16.8901
                        },
                        {
                          "house": 6,
                          "sign": "Gem",
                          "degree": 3.4567
                        },
                        {
                          "house": 7,
                          "sign": "Gem",
                          "degree": 15.2341
                        },
                        {
                          "house": 8,
                          "sign": "Leo",
                          "degree": 8.7892
                        },
                        {
                          "house": 9,
                          "sign": "Vir",
                          "degree": 22.5567
                        },
                        {
                          "house": 10,
                          "sign": "Lib",
                          "degree": 29.1234
                        },
                        {
                          "house": 11,
                          "sign": "Sco",
                          "degree": 16.8901
                        },
                        {
                          "house": 12,
                          "sign": "Sag",
                          "degree": 3.4567
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input parameters"
          },
          "422": {
            "description": "Validation error - check field formats"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/data/aspects": {
      "post": {
        "tags": [
          "📊 Raw Data & Positions"
        ],
        "summary": "Aspects",
        "description": "🔗 **Planetary Aspects Calculator** - Precise angular relationships between celestial bodies\n\n**Perfect for:**\n- 🎯 Chart interpretation and analysis\n- 📱 Astrology app aspect displays\n- 🔄 Real-time aspect tracking\n- 📊 Astrological research and education\n\n**What you get:**\n- **Major aspects** between all selected celestial bodies\n- **Precise orb measurements** (exact angular distance from perfect aspect)\n- **Aspect types** (conjunction, opposition, trine, square, sextile, etc.)\n- **Applying/separating status** for dynamic interpretation\n- **Configurable precision** for orb values (0-6 decimal places)\n\n**Supported aspects:**\n- **Conjunction** (0°) - Unity and blending of energies\n- **Opposition** (180°) - Tension and awareness\n- **Trine** (120°) - Harmony and flow\n- **Square** (90°) - Challenge and action\n- **Sextile** (60°) - Opportunity and cooperation\n- **Plus minor aspects** - quincunx, semi-square, sesquiquadrate\n\n**Celestial bodies included:**\n- **All planets** including South Nodes (Mean_South_Node, True_South_Node)\n- **Lunar Nodes** and special points\n- **Flexible point selection** - choose which bodies to include\n\n**💡 Tip:** By default only traditional planets (Sun–Saturn) + Ascendant + MC are returned. To include Uranus, Neptune, Pluto, nodes, asteroids, or other points, list them explicitly in `options.active_points`. Full list: `GET /api/v3/glossary/active-points`.\n\n**Response time:** ~150ms | **Accuracy:** Swiss Ephemeris precision",
        "operationId": "get_aspects_api_v3_data_aspects_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequest"
              },
              "examples": {
                "major_aspects": {
                  "summary": "Major Aspects Analysis",
                  "description": "Traditional major aspects between main planets",
                  "value": {
                    "subject": {
                      "name": "Aspect Seeker",
                      "birth_data": {
                        "year": 1990,
                        "month": 5,
                        "day": 15,
                        "hour": 14,
                        "minute": 30,
                        "second": 0,
                        "city": "London",
                        "country_code": "GB"
                      }
                    },
                    "options": {
                      "house_system": "P",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn"
                      ],
                      "precision": 2
                    }
                  }
                },
                "extended_aspects": {
                  "summary": "Extended Aspect Analysis",
                  "description": "Comprehensive aspects including outer planets, asteroids, and nodes",
                  "value": {
                    "subject": {
                      "name": "Complex Chart",
                      "birth_data": {
                        "year": 1985,
                        "month": 8,
                        "day": 22,
                        "hour": 18,
                        "minute": 45,
                        "second": 0,
                        "latitude": 40.7128,
                        "longitude": -74.006
                      }
                    },
                    "options": {
                      "house_system": "W",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn",
                        "Uranus",
                        "Neptune",
                        "Pluto",
                        "Chiron",
                        "Mean_Node",
                        "True_Node",
                        "Mean_Lilith",
                        "Ascendant",
                        "Medium_Coeli"
                      ],
                      "precision": 4
                    }
                  }
                },
                "tight_orbs": {
                  "summary": "Tight Orb Precision",
                  "description": "High precision aspects with very tight orbs for exact analysis",
                  "value": {
                    "subject": {
                      "name": "Precision Master",
                      "birth_data": {
                        "year": 1992,
                        "month": 11,
                        "day": 8,
                        "hour": 9,
                        "minute": 15,
                        "second": 30,
                        "city": "Paris",
                        "country_code": "FR"
                      }
                    },
                    "options": {
                      "house_system": "K",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn",
                        "Chiron"
                      ],
                      "precision": 6
                    }
                  }
                },
                "traditional_focus": {
                  "summary": "Traditional Astrology Aspects",
                  "description": "Focus on traditional planets with nodes and Arabic parts",
                  "value": {
                    "subject": {
                      "name": "Traditional Scholar",
                      "birth_data": {
                        "year": 1988,
                        "month": 3,
                        "day": 25,
                        "hour": 12,
                        "minute": 0,
                        "second": 0,
                        "city": "Athens",
                        "country_code": "GR"
                      }
                    },
                    "options": {
                      "house_system": "W",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn",
                        "Mean_Node",
                        "True_Node",
                        "Part_of_Fortune",
                        "Part_of_Spirit"
                      ],
                      "precision": 3
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Planetary aspects with precise orb measurements and relationship types",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "major_aspects_collection": {
                    "summary": "Major planetary aspects",
                    "description": "Traditional major aspects (conjunction, opposition, trine, square, sextile) with precise orb calculations",
                    "value": {
                      "aspects": [
                        {
                          "point1": "Sun",
                          "point2": "Moon",
                          "aspect_type": "square",
                          "orb": 1.6111
                        },
                        {
                          "point1": "Sun",
                          "point2": "Saturn",
                          "aspect_type": "opposition",
                          "orb": -4.3194
                        },
                        {
                          "point1": "Moon",
                          "point2": "Jupiter",
                          "aspect_type": "conjunction",
                          "orb": 3.17
                        },
                        {
                          "point1": "Venus",
                          "point2": "Mars",
                          "aspect_type": "sextile",
                          "orb": -0.2361
                        },
                        {
                          "point1": "Mars",
                          "point2": "Jupiter",
                          "aspect_type": "trine",
                          "orb": -5.5426
                        },
                        {
                          "point1": "Mercury",
                          "point2": "Neptune",
                          "aspect_type": "trine",
                          "orb": -6.8881
                        }
                      ]
                    }
                  },
                  "nodal_aspects": {
                    "summary": "Lunar node aspects",
                    "description": "Aspects involving North and South lunar nodes with karmic implications",
                    "value": {
                      "aspects": [
                        {
                          "point1": "Sun",
                          "point2": "Mean_Node",
                          "aspect_type": "conjunction",
                          "orb": 2.5905
                        },
                        {
                          "point1": "Sun",
                          "point2": "Mean_South_Node",
                          "aspect_type": "opposition",
                          "orb": -2.5905
                        },
                        {
                          "point1": "Moon",
                          "point2": "Mean_Node",
                          "aspect_type": "square",
                          "orb": -0.9793
                        },
                        {
                          "point1": "Jupiter",
                          "point2": "Mean_Node",
                          "aspect_type": "square",
                          "orb": 2.1907
                        }
                      ]
                    }
                  },
                  "tight_orbs_precise": {
                    "summary": "Exact aspects with tight orbs",
                    "description": "Very precise aspects with orbs under 1 degree, indicating strong planetary connections",
                    "value": {
                      "aspects": [
                        {
                          "point1": "Venus",
                          "point2": "Mars",
                          "aspect_type": "sextile",
                          "orb": -0.2361
                        },
                        {
                          "point1": "Mercury",
                          "point2": "Medium_Coeli",
                          "aspect_type": "square",
                          "orb": 0.8458
                        },
                        {
                          "point1": "Moon",
                          "point2": "Mean_Node",
                          "aspect_type": "square",
                          "orb": -0.9793
                        },
                        {
                          "point1": "Jupiter",
                          "point2": "Uranus",
                          "aspect_type": "sextile",
                          "orb": -0.9748
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input parameters"
          },
          "422": {
            "description": "Validation error - check field formats"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/data/lunar-metrics": {
      "post": {
        "tags": [
          "📊 Raw Data & Positions"
        ],
        "summary": "Lunar Metrics",
        "description": "🌙 **Comprehensive Lunar Analysis** - Detailed Moon phase and cycle information\n\n**Perfect for:**\n- 🌙 Lunar timing and planning\n- 📱 Moon phase apps and calendars\n- 🎯 Electional astrology (choosing optimal timing)\n- 📊 Agricultural and natural cycle tracking\n\n**What you get:**\n- **Current Moon phase** (New, Waxing Crescent, First Quarter, etc.)\n- **Phase percentage** (0-100% illumination)\n- **Days since New Moon** (lunar day count)\n- **Next phase dates** (upcoming New Moon, Full Moon, etc.)\n- **Lunar mansion/nakshatra** (traditional lunar divisions)\n- **Void of Course periods** (when Moon makes no major aspects)\n\n**Lunar cycle information:**\n- **Synodic month** progress (29.5 day cycle)\n- **Sidereal month** progress (27.3 day cycle)\n- **Anomalistic month** (perigee to perigee)\n- **Tropical month** (return to same zodiac degree)\n\n**Response time:** ~150ms | **Accuracy:** Swiss Ephemeris precision",
        "operationId": "get_lunar_metrics_api_v3_data_lunar_metrics_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequest"
              },
              "examples": {
                "current_moon_phase": {
                  "summary": "Current Moon Phase Analysis",
                  "description": "Today's lunar phase and cycle information",
                  "value": {
                    "subject": {
                      "name": "Moon Phase Observer",
                      "birth_data": {
                        "year": 2024,
                        "month": 3,
                        "day": 15,
                        "hour": 20,
                        "minute": 30,
                        "second": 0,
                        "city": "London",
                        "country_code": "GB"
                      }
                    },
                    "options": {
                      "house_system": "P",
                      "language": "en"
                    }
                  }
                },
                "new_moon_timing": {
                  "summary": "New Moon Timing",
                  "description": "Lunar analysis around New Moon for manifestation timing",
                  "value": {
                    "subject": {
                      "name": "New Moon Timer",
                      "birth_data": {
                        "year": 2024,
                        "month": 4,
                        "day": 8,
                        "hour": 18,
                        "minute": 15,
                        "second": 0,
                        "latitude": 40.7128,
                        "longitude": -74.006
                      }
                    },
                    "options": {
                      "house_system": "P",
                      "language": "en"
                    }
                  }
                },
                "full_moon_energy": {
                  "summary": "Full Moon Energy Analysis",
                  "description": "Lunar metrics during Full Moon for peak energy timing",
                  "value": {
                    "subject": {
                      "name": "Full Moon Energy",
                      "birth_data": {
                        "year": 2024,
                        "month": 7,
                        "day": 21,
                        "hour": 2,
                        "minute": 0,
                        "second": 0,
                        "city": "Paris",
                        "country_code": "FR"
                      }
                    },
                    "options": {
                      "house_system": "P",
                      "language": "en"
                    }
                  }
                },
                "void_of_course": {
                  "summary": "Void of Course Analysis",
                  "description": "Lunar analysis for electional astrology and timing decisions",
                  "value": {
                    "subject": {
                      "name": "Void of Course Timer",
                      "birth_data": {
                        "year": 2024,
                        "month": 12,
                        "day": 8,
                        "hour": 14,
                        "minute": 45,
                        "second": 0,
                        "city": "Tokyo",
                        "country_code": "JP"
                      }
                    },
                    "options": {
                      "house_system": "P",
                      "language": "en"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Comprehensive lunar cycle data including phase, distance, and illumination",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "waxing_crescent_phase": {
                    "summary": "Waxing Crescent Moon phase",
                    "description": "Example showing Moon in Waxing Crescent phase with distance and illumination data",
                    "value": {
                      "date": "2024-03-15",
                      "within_perigee_range": false,
                      "distance": 378244.78,
                      "within_apogee_range": false,
                      "apogee_distance": 406696.0,
                      "moon_sign": "Gem",
                      "moon_phase": "Waxing Crescent",
                      "moon_age_in_days": 5.48,
                      "moon_day": 6,
                      "moon_illumination": 36.35
                    }
                  },
                  "full_moon_perigee": {
                    "summary": "Full Moon at perigee (supermoon)",
                    "description": "Full Moon occurring near perigee, creating a supermoon with enhanced gravitational effects",
                    "value": {
                      "date": "2024-07-21",
                      "within_perigee_range": true,
                      "distance": 357378.42,
                      "within_apogee_range": false,
                      "apogee_distance": 405696.0,
                      "moon_sign": "Cap",
                      "moon_phase": "Full Moon",
                      "moon_age_in_days": 14.73,
                      "moon_day": 15,
                      "moon_illumination": 99.87
                    }
                  },
                  "new_moon_apogee": {
                    "summary": "New Moon at apogee (micromoon)",
                    "description": "New Moon occurring near apogee, creating minimal tidal and gravitational effects",
                    "value": {
                      "date": "2024-12-01",
                      "within_perigee_range": false,
                      "distance": 405234.89,
                      "within_apogee_range": true,
                      "apogee_distance": 406696.0,
                      "moon_sign": "Sag",
                      "moon_phase": "New Moon",
                      "moon_age_in_days": 0.12,
                      "moon_day": 1,
                      "moon_illumination": 0.43
                    }
                  },
                  "third_quarter_phase": {
                    "summary": "Third Quarter (Waning) Moon",
                    "description": "Moon in Third Quarter phase with moderate distance and illumination decreasing",
                    "value": {
                      "date": "2024-09-11",
                      "within_perigee_range": false,
                      "distance": 389567.23,
                      "within_apogee_range": false,
                      "apogee_distance": 406696.0,
                      "moon_sign": "Gem",
                      "moon_phase": "Third Quarter",
                      "moon_age_in_days": 22.34,
                      "moon_day": 23,
                      "moon_illumination": 49.12
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input parameters"
          },
          "422": {
            "description": "Validation error - check field formats"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/data/global-positions": {
      "post": {
        "tags": [
          "📊 Raw Data & Positions"
        ],
        "summary": "Global Positions",
        "description": "🌍 **Global Planetary Positions** - Location-independent ephemeris data\n\n**Perfect for:**\n- 📊 Daily ephemeris table generation\n- 🗄️ Caching planetary positions for multiple locations\n- 📱 Astrology apps requiring global reference data\n- 🔄 Background data synchronization\n\n**What you get:**\n- **Precise positions** for all requested celestial bodies\n- **Zodiac signs** (3-letter codes: Ari, Tau, Gem, etc.)\n- **Degrees within signs** (0.0 to 29.99)\n- **Absolute longitude** (0-360° full zodiac position)\n- **Retrograde status** for all planets\n- **Planetary speed** (degrees per day)\n\n**Key features:**\n- **No location required** - uses universal reference (0°N, 0°W)\n- **Both zodiac types** - Tropical and Sidereal calculations\n- **Flexible precision** - 0-8 decimal places\n- **Extensive body support** - planets, asteroids, nodes, special points\n\n**Excluded points:** Location-dependent angles (Ascendant, MC, Vertex) are not included\nsince no birth location is provided.\n\n**Use case:** Cache these positions once per day, then calculate house placements\nlocally for different birth locations to optimize API usage.\n\n**Response time:** ~80ms | **Accuracy:** Swiss Ephemeris precision",
        "operationId": "get_global_positions_api_v3_data_global_positions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GlobalDataRequest"
              },
              "examples": {
                "daily_ephemeris": {
                  "summary": "Daily Ephemeris - Today",
                  "description": "Current planetary positions for ephemeris table or daily caching",
                  "value": {
                    "year": 2024,
                    "month": 3,
                    "day": 15,
                    "hour": 12,
                    "minute": 0,
                    "second": 0,
                    "options": {
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn",
                        "Uranus",
                        "Neptune",
                        "Pluto"
                      ],
                      "precision": 2
                    }
                  }
                },
                "midnight_positions": {
                  "summary": "Midnight Universal Positions",
                  "description": "Planetary positions at midnight UTC for global reference",
                  "value": {
                    "year": 2024,
                    "month": 7,
                    "day": 21,
                    "hour": 0,
                    "minute": 0,
                    "second": 0,
                    "options": {
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn"
                      ],
                      "precision": 4
                    }
                  }
                },
                "sidereal_ephemeris": {
                  "summary": "Sidereal Ephemeris Data",
                  "description": "Vedic/Sidereal zodiac positions for traditional calculations",
                  "value": {
                    "year": 2024,
                    "month": 12,
                    "day": 8,
                    "hour": 6,
                    "minute": 30,
                    "second": 0,
                    "options": {
                      "zodiac_type": "Sidereal",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn",
                        "Mean_Node",
                        "True_Node"
                      ],
                      "precision": 3
                    }
                  }
                },
                "extended_points": {
                  "summary": "Extended Celestial Points",
                  "description": "Comprehensive list including asteroids and special points",
                  "value": {
                    "year": 2024,
                    "month": 4,
                    "day": 1,
                    "hour": 18,
                    "minute": 45,
                    "second": 0,
                    "options": {
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn",
                        "Uranus",
                        "Neptune",
                        "Pluto",
                        "Chiron",
                        "Ceres",
                        "Pallas",
                        "Juno",
                        "Vesta",
                        "Mean_Node",
                        "True_Node",
                        "Mean_Lilith"
                      ],
                      "precision": 5
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Global planetary positions at specified date/time with precise coordinates",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "daily_ephemeris_response": {
                    "summary": "Daily ephemeris planetary positions",
                    "description": "Complete set of planetary positions for ephemeris table generation",
                    "value": {
                      "datetime_utc": "2024-03-15T12:00:00Z",
                      "zodiac_type": "Tropic",
                      "positions": [
                        {
                          "name": "Sun",
                          "sign": "Pis",
                          "degree": 24.83,
                          "absolute_longitude": 354.83,
                          "is_retrograde": false,
                          "speed": 1.0157
                        },
                        {
                          "name": "Moon",
                          "sign": "Gem",
                          "degree": 18.45,
                          "absolute_longitude": 78.45,
                          "is_retrograde": false,
                          "speed": 13.2341
                        },
                        {
                          "name": "Mercury",
                          "sign": "Pis",
                          "degree": 12.67,
                          "absolute_longitude": 342.67,
                          "is_retrograde": false,
                          "speed": 1.8392
                        },
                        {
                          "name": "Venus",
                          "sign": "Aqu",
                          "degree": 28.91,
                          "absolute_longitude": 328.91,
                          "is_retrograde": false,
                          "speed": 1.2458
                        },
                        {
                          "name": "Mars",
                          "sign": "Aqu",
                          "degree": 4.23,
                          "absolute_longitude": 304.23,
                          "is_retrograde": false,
                          "speed": 0.7219
                        },
                        {
                          "name": "Jupiter",
                          "sign": "Tau",
                          "degree": 15.78,
                          "absolute_longitude": 45.78,
                          "is_retrograde": false,
                          "speed": 0.2145
                        },
                        {
                          "name": "Saturn",
                          "sign": "Pis",
                          "degree": 11.34,
                          "absolute_longitude": 341.34,
                          "is_retrograde": false,
                          "speed": 0.1087
                        },
                        {
                          "name": "Uranus",
                          "sign": "Tau",
                          "degree": 19.89,
                          "absolute_longitude": 49.89,
                          "is_retrograde": false,
                          "speed": 0.0543
                        },
                        {
                          "name": "Neptune",
                          "sign": "Pis",
                          "degree": 27.12,
                          "absolute_longitude": 357.12,
                          "is_retrograde": false,
                          "speed": 0.0284
                        },
                        {
                          "name": "Pluto",
                          "sign": "Aqu",
                          "degree": 1.56,
                          "absolute_longitude": 301.56,
                          "is_retrograde": false,
                          "speed": 0.0167
                        }
                      ]
                    }
                  },
                  "retrograde_emphasis": {
                    "summary": "Positions with retrograde motion",
                    "description": "Example showing planets in retrograde motion with negative speeds",
                    "value": {
                      "datetime_utc": "2024-07-15T12:00:00Z",
                      "zodiac_type": "Tropic",
                      "positions": [
                        {
                          "name": "Sun",
                          "sign": "Can",
                          "degree": 29.12,
                          "absolute_longitude": 119.12,
                          "is_retrograde": false,
                          "speed": 0.9563
                        },
                        {
                          "name": "Moon",
                          "sign": "Sco",
                          "degree": 3.78,
                          "absolute_longitude": 213.78,
                          "is_retrograde": false,
                          "speed": 11.9847
                        },
                        {
                          "name": "Mercury",
                          "sign": "Leo",
                          "degree": 15.43,
                          "absolute_longitude": 135.43,
                          "is_retrograde": true,
                          "speed": -0.8721
                        },
                        {
                          "name": "Venus",
                          "sign": "Gem",
                          "degree": 22.89,
                          "absolute_longitude": 82.89,
                          "is_retrograde": true,
                          "speed": -0.4256
                        },
                        {
                          "name": "Jupiter",
                          "sign": "Gem",
                          "degree": 8.92,
                          "absolute_longitude": 68.92,
                          "is_retrograde": true,
                          "speed": -0.1234
                        },
                        {
                          "name": "Saturn",
                          "sign": "Pis",
                          "degree": 19.67,
                          "absolute_longitude": 349.67,
                          "is_retrograde": true,
                          "speed": -0.0651
                        }
                      ]
                    }
                  },
                  "sidereal_positions": {
                    "summary": "Sidereal zodiac calculation",
                    "description": "Vedic/Sidereal zodiac positions showing offset from tropical zodiac",
                    "value": {
                      "datetime_utc": "2024-03-15T12:00:00Z",
                      "zodiac_type": "Sidereal",
                      "positions": [
                        {
                          "name": "Sun",
                          "sign": "Aqu",
                          "degree": 24.12,
                          "absolute_longitude": 324.12,
                          "is_retrograde": false,
                          "speed": 1.0157
                        },
                        {
                          "name": "Moon",
                          "sign": "Tau",
                          "degree": 17.23,
                          "absolute_longitude": 47.23,
                          "is_retrograde": false,
                          "speed": 13.2341
                        },
                        {
                          "name": "Mercury",
                          "sign": "Aqu",
                          "degree": 11.45,
                          "absolute_longitude": 311.45,
                          "is_retrograde": false,
                          "speed": 1.8392
                        },
                        {
                          "name": "Mean_Node",
                          "sign": "Pis",
                          "degree": 2.67,
                          "absolute_longitude": 332.67,
                          "is_retrograde": true,
                          "speed": -0.053
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input parameters"
          },
          "422": {
            "description": "Validation error in date/time or options parameters",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": {
                    "error_code": "VALIDATION_ERROR",
                    "message": "Invalid date parameters",
                    "field": "day",
                    "value": 32,
                    "severity": "medium",
                    "suggestions": [
                      "Day must be between 1-31",
                      "Check if the month has this many days"
                    ]
                  },
                  "timestamp": "2024-03-15T12:00:00Z"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/data/positions/enhanced": {
      "post": {
        "tags": [
          "📊 Raw Data & Positions"
        ],
        "summary": "Enhanced Positions",
        "description": "🏛️ **Enhanced Planetary Positions with Traditional Astrology (v3.2.0)**\n\nReturns planetary positions enriched with traditional Hellenistic astrology data:\n\n**Traditional Enhancements:**\n- ✅ **Essential Dignities**: Domicile, exaltation, triplicity, term, decan\n- ✅ **Essential Debilities**: Exile (detriment), fall\n- ✅ **Sect Analysis**: Day/night chart with planetary sect preferences\n- ✅ **Planetary Conditions**: Combustion, cazimi, under the beams\n- ✅ **Houses of Joy**: Traditional planetary jubilation\n- ✅ **Dispositor Chains**: Complete dispositor analysis\n- ✅ **Mutual Receptions**: Planets in mutual reception by domicile\n- ✅ **Traditional Points**: Part of Fortune, Part of Spirit, 7 more Arabic Lots\n- ✅ **About to Change Sign**: 24-hour sign change predictions\n- ✅ **Declinations**: Per-body declination (N/S), parallels, contraparallels, out-of-bounds detection (opt-in via `include_declinations: true`)\n\n**Dignity Overview:**\n- `dignified_planets`: Planets with essential dignity (domicile, exaltation, triplicity, own term, own decan)\n- `debilitated_planets`: Planets in exile or fall\n- `mutual_receptions`: Domicile-based mutual receptions between planets\n\n**Perfect for:**\n- Traditional astrology applications\n- Dignity-based chart analysis\n- Educational astrology tools\n- Professional astrology software\n\n**💡 Tip:** By default only traditional planets (Sun–Saturn) + Ascendant + MC are returned. To include Uranus, Neptune, Pluto, nodes, asteroids, or other points, list them explicitly in `options.active_points`. Full list: `GET /api/v3/glossary/active-points`.\n\n**Speed:** Degrees per day via Swiss Ephemeris (negative = retrograde).",
        "operationId": "get_enhanced_positions_api_v3_data_positions_enhanced_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequest"
              },
              "examples": {
                "traditional_dignities": {
                  "summary": "Traditional Dignities Analysis",
                  "description": "Enhanced positions with complete Hellenistic dignities, sect, angles, nodes and Lot of Fortune",
                  "value": {
                    "subject": {
                      "name": "Dignity Seeker",
                      "birth_data": {
                        "year": 1990,
                        "month": 5,
                        "day": 15,
                        "hour": 14,
                        "minute": 30,
                        "second": 0,
                        "city": "London",
                        "country_code": "GB"
                      }
                    },
                    "options": {
                      "house_system": "W",
                      "language": "en",
                      "tradition": "classical",
                      "detail_level": "full",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn",
                        "Ascendant",
                        "Medium_Coeli",
                        "Mean_Node",
                        "Part_of_Fortune"
                      ],
                      "precision": 4
                    }
                  }
                },
                "soul_blueprint": {
                  "summary": "Soul Blueprint — Karmic & Nodal Axis",
                  "description": "The karmic spine of a chart: True Nodes, all four angles, Vertex (fated encounters), Mean Lilith (shadow self), and the five personal planets that activate them. Ideal for past-life regression apps, soul-purpose coaching, and synastry Vertex overlays.",
                  "value": {
                    "subject": {
                      "name": "Soul Seeker",
                      "birth_data": {
                        "year": 1990,
                        "month": 3,
                        "day": 15,
                        "hour": 2,
                        "minute": 30,
                        "second": 0,
                        "city": "Kyiv",
                        "country_code": "UA"
                      }
                    },
                    "options": {
                      "house_system": "W",
                      "language": "en",
                      "tradition": "universal",
                      "detail_level": "full",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "True_Node",
                        "True_South_Node",
                        "Ascendant",
                        "Medium_Coeli",
                        "Descendant",
                        "Imum_Coeli",
                        "Vertex",
                        "Mean_Lilith"
                      ],
                      "precision": 4
                    }
                  }
                },
                "sacred_feminine": {
                  "summary": "Sacred Feminine — Goddess Asteroids",
                  "description": "The four main goddess asteroids (Ceres, Pallas, Juno, Vesta) plus luminaries, Venus, Mars, Chiron, both Liliths, Ascendant and Part of Fortune. Shows four distinct feminine archetypes alongside the classical masculine/feminine polarity. Perfect for women's wellness apps, relationship coaching platforms, and depth-psychological astrology tools.",
                  "value": {
                    "subject": {
                      "name": "Goddess Chart",
                      "birth_data": {
                        "year": 1985,
                        "month": 5,
                        "day": 11,
                        "hour": 18,
                        "minute": 15,
                        "second": 0,
                        "city": "Kharkiv",
                        "country_code": "UA"
                      }
                    },
                    "options": {
                      "house_system": "P",
                      "language": "en",
                      "tradition": "universal",
                      "detail_level": "full",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Venus",
                        "Mars",
                        "Chiron",
                        "Ceres",
                        "Pallas",
                        "Juno",
                        "Vesta",
                        "Mean_Lilith",
                        "True_Lilith",
                        "Ascendant",
                        "Part_of_Fortune"
                      ],
                      "precision": 4
                    }
                  }
                },
                "full_chart": {
                  "summary": "Full Chart with Asteroids, Angles & Vertex",
                  "description": "All 28 supported points: planets, nodes, angles (Asc/MC/Desc/IC), asteroids (Ceres/Pallas/Juno/Vesta), Vertex, Liliths, and Arabic Parts. Use GET /api/v3/glossary/active-points for the complete list.",
                  "value": {
                    "subject": {
                      "name": "Full Chart",
                      "birth_data": {
                        "year": 1990,
                        "month": 7,
                        "day": 22,
                        "hour": 15,
                        "minute": 45,
                        "city": "New York",
                        "country_code": "US"
                      }
                    },
                    "options": {
                      "house_system": "P",
                      "language": "en",
                      "tradition": "universal",
                      "detail_level": "full",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn",
                        "Uranus",
                        "Neptune",
                        "Pluto",
                        "Chiron",
                        "Mean_Node",
                        "True_Node",
                        "Mean_South_Node",
                        "True_South_Node",
                        "Ascendant",
                        "Medium_Coeli",
                        "Descendant",
                        "Imum_Coeli",
                        "Ceres",
                        "Pallas",
                        "Juno",
                        "Vesta",
                        "Vertex",
                        "Mean_Lilith",
                        "True_Lilith",
                        "Part_of_Fortune",
                        "Part_of_Spirit"
                      ],
                      "precision": 4,
                      "include_declinations": true
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Enhanced planetary positions with traditional astrology analysis and dignities",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "dignified_positions": {
                    "summary": "Positions with traditional dignities",
                    "description": "Enhanced positions showing planets in dignity with complete traditional analysis",
                    "value": {
                      "positions": [
                        {
                          "name": "Sun",
                          "sign": "Leo",
                          "degree": 15.2341,
                          "absolute_longitude": 135.2341,
                          "house": 10,
                          "is_retrograde": false,
                          "speed": 0.9563,
                          "conditions": {
                            "domicile": true,
                            "exaltation": false,
                            "exile": false,
                            "fall": false,
                            "triplicity": {
                              "is_in_triplicity": true,
                              "ruler_primary": "Sun",
                              "ruler_secondary": "Jupiter",
                              "ruler_participant": "Saturn",
                              "active_ruler": "Sun"
                            },
                            "term": "Jupiter",
                            "decan": "Saturn",
                            "combustion": false,
                            "cazimi": false,
                            "under_beams": false,
                            "in_joy": false,
                            "about_to_change_sign": false
                          }
                        },
                        {
                          "name": "Moon",
                          "sign": "Can",
                          "degree": 8.7892,
                          "absolute_longitude": 98.7892,
                          "house": 9,
                          "is_retrograde": false,
                          "speed": 13.2341,
                          "conditions": {
                            "domicile": true,
                            "exaltation": false,
                            "exile": false,
                            "fall": false,
                            "triplicity": {
                              "is_in_triplicity": true,
                              "ruler_primary": "Venus",
                              "ruler_secondary": "Mars",
                              "ruler_participant": "Moon",
                              "active_ruler": "Venus"
                            },
                            "term": "Mars",
                            "decan": "Venus",
                            "combustion": false,
                            "cazimi": false,
                            "under_beams": false,
                            "in_joy": false,
                            "about_to_change_sign": false
                          }
                        },
                        {
                          "name": "Venus",
                          "sign": "Pis",
                          "degree": 27.4567,
                          "absolute_longitude": 357.4567,
                          "house": 5,
                          "is_retrograde": false,
                          "speed": 1.2458,
                          "conditions": {
                            "domicile": false,
                            "exaltation": true,
                            "exile": false,
                            "fall": false,
                            "triplicity": {
                              "is_in_triplicity": true,
                              "ruler_primary": "Venus",
                              "ruler_secondary": "Mars",
                              "ruler_participant": "Moon",
                              "active_ruler": "Venus"
                            },
                            "term": "Venus",
                            "decan": "Saturn",
                            "combustion": false,
                            "cazimi": false,
                            "under_beams": false,
                            "in_joy": true,
                            "about_to_change_sign": true
                          }
                        }
                      ],
                      "dignity_overview": {
                        "dignified_planets": [
                          {
                            "planet": "Sun",
                            "dignities": [
                              "domicile"
                            ]
                          },
                          {
                            "planet": "Moon",
                            "dignities": [
                              "domicile"
                            ]
                          },
                          {
                            "planet": "Venus",
                            "dignities": [
                              "exaltation",
                              "triplicity"
                            ]
                          }
                        ],
                        "debilitated_planets": [],
                        "mutual_receptions": [
                          {
                            "planet1": "Jupiter",
                            "planet2": "Mercury",
                            "reception_type": "domicile",
                            "quality": "strong"
                          }
                        ]
                      },
                      "sect_info": {
                        "is_day_chart": true,
                        "sect": "diurnal",
                        "sect_ruler": "Sun",
                        "benefic_in_sect": "Jupiter",
                        "malefic_out_of_sect": "Mars"
                      },
                      "traditional_points": {
                        "Part_of_Fortune": {
                          "sign": "Vir",
                          "degree": 12.3456,
                          "absolute_longitude": 162.3456,
                          "house": 11
                        },
                        "Part_of_Spirit": {
                          "sign": "Tau",
                          "degree": 23.789,
                          "absolute_longitude": 53.789,
                          "house": 7
                        }
                      },
                      "subject_data": {
                        "name": "Dignified Example",
                        "year": 1990,
                        "month": 5,
                        "day": 15,
                        "hour": 14,
                        "minute": 30,
                        "second": 0,
                        "city": "London",
                        "nation": "GB",
                        "lng": -0.1278,
                        "lat": 51.5074,
                        "tz_str": "Europe/London"
                      },
                      "planets": {
                        "Sun": {
                          "abs_pos": 135.2341,
                          "sign": "Leo",
                          "house": 10,
                          "speed": 0.9563,
                          "retrograde": false
                        },
                        "Moon": {
                          "abs_pos": 98.7892,
                          "sign": "Can",
                          "house": 9,
                          "speed": 13.2341,
                          "retrograde": false
                        }
                      },
                      "calculation_time": "2024-03-15T12:00:00Z"
                    }
                  },
                  "debilitated_conditions": {
                    "summary": "Planets in challenging conditions",
                    "description": "Enhanced positions showing planets in exile, fall, combustion, and other difficult conditions",
                    "value": {
                      "positions": [
                        {
                          "name": "Mars",
                          "sign": "Can",
                          "degree": 19.6743,
                          "absolute_longitude": 109.6743,
                          "house": 9,
                          "is_retrograde": false,
                          "speed": 0.6851,
                          "conditions": {
                            "domicile": false,
                            "exaltation": false,
                            "exile": false,
                            "fall": true,
                            "triplicity": {
                              "is_in_triplicity": false,
                              "ruler_primary": "Venus",
                              "ruler_secondary": "Mars",
                              "ruler_participant": "Moon",
                              "active_ruler": "Venus"
                            },
                            "term": "Mars",
                            "decan": "Mars",
                            "combustion": false,
                            "cazimi": false,
                            "under_beams": false,
                            "in_joy": false,
                            "about_to_change_sign": false
                          }
                        },
                        {
                          "name": "Mercury",
                          "sign": "Leo",
                          "degree": 16.7834,
                          "absolute_longitude": 136.7834,
                          "house": 10,
                          "is_retrograde": true,
                          "speed": -0.8721,
                          "conditions": {
                            "domicile": false,
                            "exaltation": false,
                            "exile": false,
                            "fall": false,
                            "triplicity": {
                              "is_in_triplicity": false,
                              "ruler_primary": "Sun",
                              "ruler_secondary": "Jupiter",
                              "ruler_participant": "Saturn",
                              "active_ruler": "Sun"
                            },
                            "term": "Jupiter",
                            "decan": "Saturn",
                            "combustion": true,
                            "cazimi": false,
                            "under_beams": true,
                            "in_joy": false,
                            "about_to_change_sign": false
                          }
                        }
                      ],
                      "sect_info": {
                        "is_day_chart": true,
                        "sect": "diurnal"
                      },
                      "subject_data": {
                        "name": "Debility Example",
                        "year": 1988,
                        "month": 8,
                        "day": 10,
                        "hour": 15,
                        "minute": 0,
                        "second": 0,
                        "city": "Rome",
                        "nation": "IT",
                        "lng": 12.4964,
                        "lat": 41.9028,
                        "tz_str": "Europe/Rome"
                      },
                      "traditional_points": {
                        "Part_of_Fortune": {
                          "sign": "Sco",
                          "degree": 18.1234,
                          "absolute_longitude": 228.1234,
                          "house": 1
                        }
                      },
                      "dignity_overview": {
                        "dignified_planets": [],
                        "debilitated_planets": [
                          {
                            "planet": "Mars",
                            "debilities": [
                              "fall"
                            ]
                          }
                        ],
                        "mutual_receptions": []
                      },
                      "planets": {
                        "Mars": {
                          "abs_pos": 109.6743,
                          "sign": "Can",
                          "house": 9,
                          "speed": 0.6851,
                          "retrograde": false
                        },
                        "Mercury": {
                          "abs_pos": 136.7834,
                          "sign": "Leo",
                          "house": 10,
                          "speed": -0.8721,
                          "retrograde": true
                        }
                      },
                      "calculation_time": "2024-03-15T12:00:00Z"
                    }
                  },
                  "night_chart_example": {
                    "summary": "Night chart sect analysis",
                    "description": "Enhanced positions for nocturnal chart showing sect-based planetary conditions",
                    "value": {
                      "positions": [
                        {
                          "name": "Moon",
                          "sign": "Sco",
                          "degree": 14.3721,
                          "absolute_longitude": 224.3721,
                          "house": 1,
                          "is_retrograde": false,
                          "speed": 12.6633,
                          "conditions": {
                            "domicile": false,
                            "exaltation": false,
                            "exile": false,
                            "fall": false,
                            "triplicity": {
                              "is_in_triplicity": true,
                              "ruler_primary": "Mars",
                              "ruler_secondary": "Mars",
                              "ruler_participant": "Venus",
                              "active_ruler": "Mars"
                            },
                            "term": "Mars",
                            "decan": "Mars",
                            "combustion": false,
                            "cazimi": false,
                            "under_beams": false,
                            "in_joy": false,
                            "about_to_change_sign": false
                          }
                        }
                      ],
                      "sect_info": {
                        "is_day_chart": false,
                        "sect": "nocturnal",
                        "sect_ruler": "Moon",
                        "benefic_in_sect": "Venus",
                        "malefic_out_of_sect": "Saturn"
                      },
                      "subject_data": {
                        "name": "Night Chart Example",
                        "year": 1992,
                        "month": 11,
                        "day": 15,
                        "hour": 23,
                        "minute": 30,
                        "second": 0,
                        "city": "Berlin",
                        "nation": "DE",
                        "lng": 13.405,
                        "lat": 52.52,
                        "tz_str": "Europe/Berlin"
                      },
                      "traditional_points": {
                        "Part_of_Fortune": {
                          "sign": "Pis",
                          "degree": 5.6789,
                          "absolute_longitude": 335.6789,
                          "house": 4
                        }
                      },
                      "dignity_overview": {
                        "dignified_planets": [],
                        "debilitated_planets": [],
                        "mutual_receptions": []
                      },
                      "planets": {
                        "Moon": {
                          "abs_pos": 224.3721,
                          "sign": "Sco",
                          "house": 1,
                          "speed": 12.6633,
                          "retrograde": false
                        }
                      },
                      "calculation_time": "2024-03-15T12:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input parameters"
          },
          "422": {
            "description": "Validation error in birth data or calculation options",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": {
                    "error_code": "INVALID_CELESTIAL_BODY",
                    "message": "Invalid celestial body name",
                    "field": "active_points",
                    "value": "invalid_planet",
                    "severity": "low",
                    "suggestions": [
                      "Use standard names: Sun, Moon, Mercury, Venus, Mars, Jupiter, Saturn",
                      "See /api/v3/glossary/active-points for complete list"
                    ]
                  },
                  "timestamp": "2024-03-15T12:00:00Z"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/data/aspects/enhanced": {
      "post": {
        "tags": [
          "📊 Raw Data & Positions"
        ],
        "summary": "Enhanced Aspects",
        "description": "🏛️ **Enhanced Aspects with Reception Analysis (v3.2.0)**\n\nReturns aspects enriched with traditional reception analysis:\n\n**Traditional Enhancements:**\n- ✅ **Reception Quality**: Mutual and single receptions between planets\n- ✅ **Dignity Context**: Both planets' dignity status in aspects\n- ✅ **Aspect Strength**: Weighted by planetary dignities and orbs\n- ✅ **Aspect Nature**: benefic, mildly_malefic, malefic, neutral\n\n**Reception Types:**\n- **mutual_pure**: Both planets receive each other by the SAME dignity type (e.g., both by domicile)\n- **mutual_mixed**: Both planets receive each other by DIFFERENT dignity types (e.g., domicile + exaltation)\n- **single**: Only one planet receives the other\n- **Reception by Dignity**: Domicile, exaltation, triplicity, term, decan\n\n**Aspect Nature Classification:**\n- **benefic**: Benefic aspects (trine, sextile) or benefic planets\n- **mildly_malefic**: Malefic conjunct luminary WITH reception (mitigated)\n- **malefic**: Malefic hard aspects to luminaries, or malefic conjunct luminary WITHOUT reception\n- **neutral**: Other aspects not clearly benefic or malefic\n\n**Mutual Receptions List:**\n- Includes `is_pure` field (true = mutual_pure, false = mutual_mixed)\n- Quality rating: excellent, strong, moderate, weak\n\n**Aspect Strength Calculation:**\n- Orb tightness (closer = stronger)\n- Planetary dignity status\n- Reception quality bonus\n- Traditional aspect hierarchy\n\n**Perfect for:**\n- Traditional aspect interpretation\n- Reception-based counseling\n- Advanced astrological analysis\n- Educational applications\n\n**💡 Tip:** By default only traditional planets (Sun–Saturn) + Ascendant + MC are returned. To include Uranus, Neptune, Pluto, nodes, asteroids, or other points, list them explicitly in `options.active_points`. Full list: `GET /api/v3/glossary/active-points`.",
        "operationId": "get_enhanced_aspects_api_v3_data_aspects_enhanced_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequest"
              },
              "examples": {
                "reception_aspects": {
                  "summary": "Reception-Based Aspects",
                  "description": "Enhanced aspects with mutual reception analysis and dignity context",
                  "value": {
                    "subject": {
                      "name": "Aspect Master",
                      "birth_data": {
                        "year": 1990,
                        "month": 5,
                        "day": 15,
                        "hour": 14,
                        "minute": 30,
                        "second": 0,
                        "city": "London",
                        "country_code": "GB"
                      }
                    },
                    "options": {
                      "house_system": "W",
                      "language": "en",
                      "tradition": "classical",
                      "detail_level": "full",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn"
                      ],
                      "precision": 3
                    }
                  }
                },
                "strength_analysis": {
                  "summary": "Aspect Strength Analysis",
                  "description": "Enhanced aspects with strength calculations based on dignities and orbs",
                  "value": {
                    "subject": {
                      "name": "Strength Seeker",
                      "birth_data": {
                        "year": 1985,
                        "month": 8,
                        "day": 22,
                        "hour": 18,
                        "minute": 45,
                        "second": 0,
                        "city": "Florence",
                        "country_code": "IT"
                      }
                    },
                    "options": {
                      "house_system": "A",
                      "language": "en",
                      "tradition": "classical",
                      "detail_level": "full",
                      "zodiac_type": "Tropic",
                      "active_points": [
                        "Sun",
                        "Moon",
                        "Mercury",
                        "Venus",
                        "Mars",
                        "Jupiter",
                        "Saturn",
                        "Mean_Node",
                        "True_Node"
                      ],
[...]
